<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hello World!
  </h1>
  <p>Welcome to {{ title }}!</p>
  <p>Have fun with the project this semester!! The contents of this page are located at /src/app/app.component.html, go check it out!</p>
  <!-- Congrats, you made it here! This is the HTML template for the index page.  -->
  <!-- You can edit this page, save it, and view the browser--it will automatically refresh the page! -->
  <!-- Also, take a look at /tda-project-ui/README.md to understand the other commands with Angular -->
</div>

<!-- This is an example component that retrieves data from the backend and displays it -->
<app-example></app-example>

<router-outlet></router-outlet>
