@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Server is running.</h1>
    <p>Try navigating to <a href="/api/values">/api/values</a> and you should see data</p>
</body>
</html>
